@use '../styles/mixins' as *;
@use '../styles/colors' as *;

.chatForm {
  width: 100%;
  max-width: 60rem;
}

.newMessageContainer {
  @include flex(space-between, center);
  margin-top: auto;
  width: 100%;

  .previewImg {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
  }

  form {
    @include flex(space-between, center);
    width: 100%;
  }

  button {
    height: 5rem;
    width: 5rem;
    border-radius: 0.5rem;
    background-color: white;
    cursor: pointer;
    border: none;

    svg {
      width: 70%;
      height: 70%;
      fill: $primary;
    }
  }

  .addImg {
    margin-right: 1rem;
  }
  .sendBtn {
    margin-left: 1rem;
  }

  input {
    padding: 1rem;
    border: 1px solid $primary;
    flex: 1;
    height: 5rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-family: inherit;
    letter-spacing: 1.5px;
  }
}
@media screen and (width<500px) {
  .newMessageContainer {
    input {
      height: 4rem;
    }

    button {
      width: 4rem;
      height: 4rem;
    }

    button svg {
      height: 60%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .newMessageContainer {
    button {
      background-color: var(--darkMode);

      svg {
        fill: white;
      }
    }
    input {
      border: 1px solid white;
    }

    .addImg {
    }
  }
}
