@use '../styles/mixins' as *;
@use '../styles/colors' as *;

.chatContainer {
  border-radius: 0.5rem;
  width: 100%;
  flex-direction: column;
  display: flex;
  flex: 1;
  justify-items: center;
  padding: 1rem;
  gap: 1rem;
}

.userGreet {
  text-align: center;
  font-size: 1.4rem;
}

.messagesContainer {
  width: 100%;
  border: 1px solid $primary;
  border-radius: 0.5rem;
  height: 100%;
  padding: 1rem;
  gap: 3.2rem;
  flex: 1;
  @include flex(space-between, flex-start);
  flex-direction: column;

  h1 {
    width: 100%;
  }
  .room {
    text-align: center;
  }
}

.btn {
  @include btn();
  width: 30%;
  align-self: center;
}

.btns {
  display: flex;
  justify-content: space-between;
}

input[type='file'] {
  display: none;
}

.chooseRoom {
  display: grid;
  margin-top: 2rem;
  gap: 1rem;
  align-self: center;
  button {
    width: 100%;
  }
  input {
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: 1px solid $primary;
  }
}

@media screen and (width < 500px) {
  .logOut {
    width: 30%;
  }

  .btns {
    gap: 1rem;
  }

  .btn {
    width: 70%;
  }

  .chatContainer {
    gap: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .messagesContainer {
    border: 1px solid white;
  }

  .chooseRoom input {
    border: 1px solid white;
  }
}
