@use '../styles/colors' as *;
@use '../styles/mixins' as *;

.messageContainer {
  @include flex(space-between, center);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: white;
  width: 100%;
  height: 4rem;
  visibility: hidden;
  border-radius: 0.5rem;
  gap: 3rem;
  animation: appear 400ms forwards ease;
  h1 {
    width: 20%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: left;
  }
  small {
    width: fit-content;
    font-size: 0.8rem;
    max-width: 10%;
  }

  .msgImg {
    width: 4rem;
    height: 4rem;
    transition: 300ms;
    object-fit: contain;
  }

  .openImg {
    transform: scale(10);
    position: fixed;
  }
  p {
    flex: 1;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    overflow-x: auto;

    img {
      margin-left: 2rem;
    }
  }
}

.imgModal {
  width: 30rem;
  height: 30rem;
  background-color: red;
  position: fixed;
  left: 50%;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.messageContainer.sender {
  background-color: $primary;
  box-shadow: 2px 5px 10px #0f3cf26d;

  p,
  h1,
  small {
    color: white;
  }
}

p::-webkit-scrollbar,
h1::-webkit-scrollbar {
  height: 3px;
}
p::-webkit-scrollbar-track,
h1::-webkit-scrollbar-track {
  background-color: transparent;
}
p::-webkit-scrollbar-thumb,
h1::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1rem;
}

@media screen and (width < 500px) {
  .messageContainer {
    h1 {
      width: 25%;
      font-size: 1.4rem;
    }
    p {
      font-size: 1.2rem;
      overflow-x: auto;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .messageContainer {
    background-color: var(--darkMode);
  }
}
